html(lang="en")
  head
    title= title
    script.
      
  body 
    table
      each val in ships
        each ship in val 
          tr
          td= ship.name
          td= ship.imo
          td= ship.area
          td= ship.coordinates
          td= ship.destination 
          td= ship.speed
          td= ship.eta
          td= ship.dataAge